<h1>User#mypage</h1>
<p>Find me in app/views/user/mypage.html.erb</p>
    <%= link_to '마이페이지', user_mypage_path %>
    <%= link_to '올린글', user_mypage_path %>
    <%= link_to '스크랩', user_mypage_path %>

