<h1>Calculator#result</h1>
<p>Find me in app/views/calculator/result.html.erb</p>

<h2>결과값</h2>
<p>이용권 새로 구매시 하루 평균 비용</p><%= @acq_daily_cost%>원/하루
<p>양도받을 시 하루 평균 비용</p><%= @trans_daily_cost%>원/하루
<p>할인율</p><%= @discount_rate %>% 할인 