img.logo {
    width: 5em;
    height: 5em;
    display: block;
    margin: 30 auto;
}

img.sell {
    width: 5em;
    height: 5em;
    display: block;
}

img.buy {
    width: 5em;
    height: 5em;
    display: block;
}

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


//custom

body{
  font-family: 'NanumSquare', 'Open Sans', sans-serif;
}
.navbar-light .navbar-toggler{
  border:none;
}
.custom-navbar-nav-attr{
  margin-left: auto;
}
.custom-nav-attr{
  border-top: 3px solid #aaa;
  background-color: white;
}
.custom-nav-item-attr{
  margin: 15px;
}