.registerbox {
    border: #ffffff 15px double;
    border-radius: 73px;
    padding: 6em 0em;
    background-color: #b6c8da;
    text-align: center;
    width: 40%;
    margin: 0% 30%;
    height: 100%;
} 